.calc-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#display {
  width: 125px;
  height: 25px;
  border: black 1px solid;
  text-align: right;
}

button {
  height: 50px;
  width: 50px;
  margin: 0;
}

.row {
  font-size: 0;
}

button {
  font-size: 14px;
}
