.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.calc-container {
  background-color: grey;
  padding: 20px;
}

#display {
  width: 198px;
  height: 40px;
  border: black 1px solid;
  text-align: right;
  background-color: white;
  font-size: 25px;
}

button {
  height: 50px;
  width: 50px;
  margin: 0;
}

.row {
  font-size: 0;
}

button {
  font-size: 14px;
  background-color: #1d2529;
  color: white;
}

#zero {
  width: 100px;
}

#symbol {
  background-color: #9aaebb;
}
